.viewUserTop{
    background-color: #002a4a;
    margin-top:0.5rem;
}

.viewUserTop > h1{
    color:#FEF363;
    font-size: 3rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.viewUserTopBlurb{
    padding-bottom: 1rem;
    color: #FEF363;
    font-size: 1.5rem;
    padding-bottom: 2.5rem;
    text-align:center;
    padding-left:1rem;
    padding-right:1rem;
    height:100vh;
    padding-top:1rem;
}

.userGreen{
    background-color: #2d6434;
    margin-top:0.5rem;
}

.userGreen > h1{
    color:#FEF363;
    font-size: 3rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}
