.signInTop{
    background-color: #002A4A;
}

.signInTop > h1{
    color:#FEF363;
    font-size: 3rem;
    padding-bottom: 2rem;
    padding-top: 3rem;
}

.signInBlurb{
    padding-bottom: 1rem;
    color: #FEF363;
    font-size: 1.5rem;
    padding-bottom: 2rem;
    padding-left:1rem;
    padding-right:1rem;
    text-align:center;
}