.signin{
    display:grid;
    grid-template-columns:60%;
    justify-content: center;
    align-items: center;
    margin:auto;
    gap:1rem;
}

.signinmail{
    text-align:center;
    padding: 1rem 3rem;
    width:60%;
    margin:auto;
    font-size: 1rem;
    opacity: 1;
    border-radius:0.5rem;
    border:1px solid green;
}

.signinpword{
    text-align:center;
    padding: 1rem 3rem;
    width:60%;
    margin:auto;
    font-size: 1rem;
    opacity: 1;
    border-radius:0.5rem;
    border:1px solid green;
}

.signinsubmit{
    background-color: green;
    border: none;
    color: white;
    padding: 1rem 4rem;
    text-align: center;
    font-size: 1rem;
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
}

.signinsubmit:hover {
    font-weight: 300;
    transition: all 0.5s ease-in-out;
    background-color: #fff;
    color: rgba(12, 35, 139, 0.9);
}

.signininput{
    border-radius:0.5rem;
    border: 1px solid blue;
}

.nosignup{
    text-align:center;
    margin:auto;

}

.signInRegisterBox{
    align-self:center;
    color:blue;
    border-radius:0.25rem;
    border:1px solid green;
    font-size: 1rem;
    height: 2rem;
    background-color:lightgray;
}








.userSignIn{
    display: grid;
    grid-template-columns: 1;
    justify-content: center;
    align-items: center;
    border: 3px solid green;
    margin:auto;
    gap:1.25rem;
    border-radius:1rem;
    max-width:60%;
    background-color: gold;
    padding-top:2rem;
    padding-bottom:2rem;
}

.signInBlurb{
    text-align:center;
}

.signInBox{
    align-self:center;
    color:blue;
    border-radius:0.25rem;
    border:1px solid green;
    font-size: 1rem;
    height: 2rem;
    background-color:lightgray;
}

::placeholder{
    color:#2D6434;
    text-align:center;
}

.submit{
    background-color: rgba(12, 35, 139, 0.9);
    border: none;
    color: white;
    padding: 1rem 4rem;
    text-align: center;
    font-size: 1rem;
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
    border-radius:2rem;
}

.submit:hover {
    font-weight: 300;
    transition: all 0.5s ease-in-out;
    background-color: #fff;
    color: rgba(12, 35, 139, 0.9);
}

.center{
    margin: 0 auto;
    text-align:center;
}