.layout{
    display:grid;
    grid-template-columns:1fr;
    width:100%;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
}

.top{
    background-color:darkgreen;
    background-size:cover;
    height:10rem;
    text-align:center;
}

.countdown{
    background-color:rgb(7, 66, 126);
    display:grid;
    grid-template-columns:1fr 1fr;
    height:10rem;
}

.registrationcountdown{
    grid-column:1;
    color:gold;
    text-align:center;
}

.conferencecountdown{
    grid-column:2;
    color:gold;
    text-align:center;
}