.infoPanel {
    border: 0.3px solid black;
    max-width: 20rem;
    max-height: 20rem;
    margin: 1rem;
    padding: 0.5rem;
}

.infoHeader {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.infoHeader > h4 {
    margin: 0;
}

.infoRow {
    display: grid;
    grid-template-columns: 2fr 5fr;
    margin: 0;
    padding: 0.5rem 0 0.5rem 0;
    border-top: 0.1rem solid black;
}

.infoRow > h4 {
    padding-right: 0.3rem;
    margin: 0;
    border-right: 0.1rem solid black;
}

.infoRow > div {
    padding-left: 0.3rem;
}

.infoRow > div > p {
    margin: 0;
}