.signinhead{
    
}

.signin{
    display:grid;
    grid-template-columns:60%;
    justify-content: center;
    align-items: center;
    margin:auto;
    gap:1rem;
}

.signinmail{
    text-align:center;
    padding: 1rem 3rem;
    width:60%;
    margin:auto;
    font-size: 1rem;
    opacity: 1;
    border-radius:0.5rem;
    border:1px solid green;
}

.signinpword{
    text-align:center;
    padding: 1rem 3rem;
    width:60%;
    margin:auto;
    font-size: 1rem;
    opacity: 1;
    border-radius:0.5rem;
    border:1px solid green;
}

.signinsubmit{
    background-color: green;
    border: none;
    color: white;
    padding: 1rem 4rem;
    text-align: center;
    font-size: 1rem;
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
}

.signinsubmit:hover {
    font-weight: 300;
    transition: all 0.5s ease-in-out;
    background-color: #fff;
    color: rgba(12, 35, 139, 0.9);
}

.signinblurb{
    text-align:center;
    margin:auto;
}

.signininput{
    border-radius:0.5rem;
    border: 1px solid blue;
}

.nosignup{
    text-align:center;
    margin:auto;

}