:root {
	font-size: 16px;
	color: black;
	font-family: pangram, serif;
	--defaultTextAlign: "left";
	--bgcolor: "white";
}
@font-face {
	font-family: pangram;
	src: url(../fonts/BarlowCondensed-Regular.ttf);
}
h1, h2, h3, h4, h5, h6{
	text-align: center;
	margin: 0;
}
p{margin: 0;}

html, body {
	width: 100%;
	height: 100%;
	min-width: 15rem;
	margin: 0;
	background-color: var(--bgcolor);
}
#root {
	height: 100%;
}
button{
	color: black;
	font-family: pangram, serif;
    height: 2rem;
    font-size: 1.25rem;
}
input, option, select, textarea{
	height: 2rem;
	font-size :1rem;
	color: black;
	font-family: pangram, serif;
	border: 0.2rem solid black;
	border-radius: 0.5rem;
	padding: 0 0.2rem;
	margin: 0.1rem;
	text-align: var(--defaultTextAlign);
}
input[type='radio'], input[type='checkbox']{
	height: 1.5rem;
	width: 1.5rem;
	margin: 0.25rem 0.5rem;
}
textarea {
	resize: vertical;
	text-align: left;
	height: 8rem;
	padding: 0.5rem;
	box-sizing: border-box;
}
.blackButton{
	background-color: black;
	color: white;
	border-radius: 0.5rem;
	text-align: center;
	border: 0.2rem solid black;
	transition: color 0.3s, background-color 0.3s;
}
.disabledButton{
	background-color: grey;
	color: white;
	border-radius: 0.5rem;
	text-align: center;
	border: 0.2rem solid black;
}
.blackButton:hover, .blackButton:active{
	cursor: pointer;
	background-color: white;
	color: black;
}
.userPagePanel {
	border: 0.2rem solid black;
	max-width: 25rem;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 1rem;
	border-radius: 1rem;
}

.horizontal {
	display: flex;
	align-items: center;
	justify-content: center;
}

.vertical {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.vertical > * {
	width: 100%;
}

.horizontalTop {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.icon {
	height: 3rem;
	width: 3rem;
}

.icon:hover {
	cursor: pointer;
}

details:hover{
	cursor:pointer;
}