.userInfoPanel {
    border: 0.3rem solid black;
    max-width: 20rem;
    max-height: 20rem;
}

.userInfoHeader {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.userInfoRow {
    display: grid;
    grid-template-columns: 2fr 5fr;
    margin: 0;
}

.userInfoRow > h4 {
    margin: 0;
}

.userInfoRow > div > p {
    margin: 0;
}