.contactTop{
    background-color: #2D6434;
    margin-bottom:0.5rem;
}

.contactTop > h1{
    color:#FEF363;
    font-size: 3rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.contactBlurb{
    padding-bottom: 1rem;
    color: #FEF363;
    font-size: 1.5rem;
    padding-bottom: 2.5rem;
    text-align:center;
    padding-left:1rem;
    padding-right:1rem;
}

.contactBody{
    background-color:#002a4a;
    color: #FEF363;
    padding-top:1rem;
    padding-bottom:1rem;
}

.contactEmailBox{
    text-align:center;
    margin:auto;
    padding-top:1rem;
    align-self:center;
}

.contactEmail{
    background-color: #93D783;
    color: black;
}