.contactTop{
    background-color: #2D6434;
    margin-bottom:0.5rem;
}

.contactTop > h1{
    color:#FEF363;
    font-size: 3rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.contactBlurb{
    padding-bottom: 1rem;
    color: #FEF363;
    font-size: 1.5rem;
    padding-bottom: 2.5rem;
    text-align:center;
    padding-left:1rem;
    padding-right:1rem;
}

.contactBody{
    background-color:#002a4a;
    color: #FEF363;
    padding-top:1rem;
    padding-bottom:1rem;
}

.contactEmailBox{
    text-align:center;
    margin:auto;
    padding-top:1rem;
    align-self:center;
}

.contactEmail{
    background-color: #93D783;
    color: black;
}

.contactTextBox{
    padding-top:1.5rem;
    margin:auto;
    text-align:center;
}

.contactMessageBox{
    width:33vw;
    background-color:#93D783;
    color:black;
}

@media(max-width:1080px) {
    .contactMessageBox{
        width:70vw;
        background-color:#93D783;
        color:black;
    }

    .contactEmail{
        background-color: #93D783;
        color: black;
        width:40vw;
    }
}

.contactButtonBox{
    margin:auto;
    text-align:center;
    padding-top:2rem;
    padding-bottom:3rem;
}

.contactButton{
    background-color: #2D6434;
    border: none;
    color: #FEF363;
    padding: 1.5rem 4rem;
    text-align: center;
    font-size: 1.5rem;
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
    margin:auto;
    line-height:0rem;
}

.contactButton:hover {
    font-weight: 300;
    transition: all 0.5s ease-in-out;
    background-color: #fff;
    color: #002A4A;
}

.contactToBox{
    background-color:#93D783;
}