.contactTop{
    background-color: #2D6434;
    margin-bottom:0.5rem;
}

.contactTop > h1{
    color:#FEF363;
    font-size: 3rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.contactBlurb{
    padding-bottom: 1rem;
    color: #FEF363;
    font-size: 1.5rem;
    padding-bottom: 2.5rem;
    text-align:center;
    padding-left:1rem;
    padding-right:1rem;
}

.contactBodyBlue{
    background-color:#002A4A;
    margin-top:0.5rem;
}

.contactBodyBlue > h1{
    color:#FEF363;
    font-size: 3rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.contactBodyGreen{
    background-color:#2D6434;
    margin-top:0.5rem;
}

.contactBodyGreen > h1{
    color:#FEF363;
    font-size: 3rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

/*SOYC stuff*/
.contactSOYC{
    background-color: #002A4A;
    margin-top:0.5rem;
}

.contactSOYC > h1{
    color:#FEF363;
    font-size: 3rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.contactSOYCBlurb{
    padding-bottom: 1rem;
    color: #FEF363;
    font-size: 1.5rem;
    padding-bottom: 2.5rem;
    text-align:center;
    margin:auto;
    padding-right:2rem;
    padding-left:1rem;
}

.contactSOYCGrid{
    display:grid;
    grid-template-columns:repeat(2,50vw);
}

.contactSOYCImageBox{
    padding-bottom: 2.5rem;
    text-align:center;
    padding-left:1rem;
    padding-right:1rem;
    max-width:35vw;
    margin:auto;
}

.contactSOYCImage{
    object-fit:contain;
    width:100%;
    border-radius:0.5rem;
}

@media(max-width:1080px){
    .contactSOYCGrid{
        display:grid;
        grid-template-columns:1fr;
    }

    .contactSOYCImageBox{
        padding-bottom: 2.5rem;
        text-align:center;
        max-width:80vw;
        margin:auto;
    }

    .contactSOYCBlurb{
        padding-bottom: 1rem;
        color: #FEF363;
        font-size: 1.5rem;
        padding-bottom: 2.5rem;
        text-align:center;
        margin:auto;
        padding-right:1rem;
        padding-left:1rem;
    }

    .contactSOYCImage{
        object-fit:contain;
        width:100%;
        border-radius:0.5rem;
        max-height:40vh;
    }
}

.contactSOYCButton{
    background-color: #2D6434;
    border: none;
    color: #FEF363;
    padding: 1.5rem 4rem;
    text-align: center;
    font-size: 1.5rem;
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
    margin:auto;
    line-height:0rem;
}

.contactSOYCButton:hover {
    font-weight: 300;
    transition: all 0.5s ease-in-out;
    background-color: #fff;
    color: #002A4A;
}

.contactSOYCButtonBox{
    padding-top:2rem;
    margin:auto;
    text-align:center;
}