*,
*::after,
*::before {
    margin:0;
    box-sizing:border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size:1.6rem;
}

li{
    list-style:none;
}

a{
    text-decoration:none;
    color: #002a4a;
}

.nav{
    display:flex;
    align-items:center;
    justify-content:space-around;
    height:6rem;
    background: white;
}

.nav_menu{
    display:flex;
    align-items:center;
    justify-content:space-around;
    gap:3rem;
}

.nav_toggler div{
    width:2.5rem;
    height:0.2rem;
    width:1rem;
}

.nav_toggler{
    cursor:pointer;
    display:none;
}

@media(max-width:1080px) {
    .nav_toggler{
        display:block;
    }
    .nav_menu{
        top:5vh;
        position:fixed;
        right: 0;
        width: 50%;
        height:60vh;
        background: rgb(0,28,73);
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.25s ease-in;
        gap:1rem;
    }
    a{
        text-decoration:none;
        color: white;
    }
}

.nav_active{
    transform:translateX(0);
}

.navMenu{
    line-height:0rem;
    text-align:center;
}

.navImage{
    width:6rem;
}