.infoTop{
    background-color: #2D6434;
    margin-bottom:0.5rem;
}

.infoTop > h1{
    color:#FEF363;
    font-size: 3rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.infoBlurb{
    padding-bottom: 1rem;
    color: #FEF363;
    font-size: 1.5rem;
    padding-bottom: 2.5rem;
    text-align:center;
    padding-left:1rem;
    padding-right:1rem;
}

/*WHO*/

.infoWho{
    background-color: #002A4A;
}

.infoWho > h1{
    color:#FEF363;
    font-size: 3rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.infoWhoBlurb{
    padding-bottom: 1rem;
    color: #FEF363;
    font-size: 1.5rem;
    padding-bottom: 2.5rem;
    text-align:center;
    padding-left:1rem;
    padding-right:1rem;
}

/*WHERE*/

.infoWhere{
    background-color: #2D6434;
}

.infoWhere > h1{
    color:#FEF363;
    font-size: 3rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.infoWhereBlurb{
    padding-bottom: 1rem;
    color: #FEF363;
    font-size: 1.5rem;
    padding-bottom: 2.5rem;
    text-align:center;
    padding-left:1rem;
    padding-right:1rem;
}