.infoTop{
    background-color: #2D6434;
    margin-bottom:0.5rem;
}

.infoTop > h1{
    color:#FEF363;
    font-size: 3rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.infoBlurb{
    padding-bottom: 1rem;
    color: #FEF363;
    font-size: 1.5rem;
    padding-bottom: 2.5rem;
    text-align:center;
    padding-left:1rem;
    padding-right:1rem;
}

/*WHO*/

.infoWho{
    background-color: #002A4A;
    margin-bottom:0.5rem;
}

.infoWho > h1{
    color:#FEF363;
    font-size: 3rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.infoWhoBlurb{
    padding-bottom: 1rem;
    color: #FEF363;
    font-size: 1.5rem;
    padding-bottom: 3rem;
    text-align:center;
    padding-left:1rem;
    padding-right:1rem;
}

.infoWhoButton{
    background-color: #93D783;
    border: none;
    color: #2D6434;
    padding: 1rem 4rem;
    text-align: center;
    font-size: 1.5rem;
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
    width: 6rem;
    text-align:center;
    margin:auto;
}

.infoWhoButton:hover {
    font-weight: 300;
    transition: all 0.5s ease-in-out;
    background-color: #fff;
    color: #93D783;
}

.infoWhoButtonBox{
    margin:auto;
    height:6rem;
    text-align:center;

}
/*WHERE*/

.infoWhere{
    background-color: #2D6434;
}

.infoWhere > h1{
    color:#FEF363;
    font-size: 3rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.infoWhereBlurb{
    padding-bottom: 1rem;
    color: #FEF363;
    font-size: 1.5rem;
    padding-bottom: 2.5rem;
    text-align:center;
    margin:auto;
    padding-right:1rem;
    padding-left:1rem;
}

.infoWhereGrid{
    display:grid;
    grid-template-columns:repeat(2,50vw);
}

.infoWhereImageBox{
    padding-bottom: 2.5rem;
    text-align:center;
    padding-left:1rem;
    padding-right:1rem;
    max-width:35vw;
    margin:auto;
}

.infoWhereImage{
    object-fit:contain;
    width:100%;
    border-radius:0.5rem;
}

@media(max-width:1080px){
    .infoWhereGrid{
        display:grid;
        grid-template-columns:1fr;
    }

    .infoWhereImageBox{
        padding-bottom: 2.5rem;
        text-align:center;
        max-width:80vw;
        margin:auto;
    }
}

.infoWhereButton{
    background-color: #002A4A;
    border: none;
    color: #FEF363;
    padding: 1.5rem 4rem;
    text-align: center;
    font-size: 1.5rem;
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
    margin:auto;
    line-height:0rem;
}

.infoWhereButton:hover {
    font-weight: 300;
    transition: all 0.5s ease-in-out;
    background-color: #fff;
    color: #002A4A;
}

.infoWhereButtonBox{
    padding-top:2rem;
    margin:auto;
    text-align:center;
}

/*WHEN*/

.infoWhen{
    background-color: #002A4A;
    margin-top:0.5rem;
}

.infoWhen > h1{
    color:#FEF363;
    font-size: 3rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.infoWhenBlurb{
    padding-bottom: 1rem;
    color: #FEF363;
    font-size: 1.5rem;
    padding-bottom: 2.5rem;
    text-align:center;
    margin:auto;
    padding-right:1rem;
    padding-left:1rem;
}

.infoWhenGrid{
    display:grid;
    grid-template-columns:repeat(2,33vw);
    justify-content:center;
    margin:auto;
}

.infoWhenCountdown{
    color:#FEF363;
    margin:auto;
    padding: 1rem;
    opacity: 1;
    text-decoration: none;
    height:10rem;
    text-align:center;
}

.infoWhenCountdown > h1{
    font-size:3rem;
    text-align:center;
}

.infoWhenCountdown > h2{
    text-align:center;
}

.infoWhenCountdown > h3{
    text-align:center;
}

@media(max-width:1080px){
    .infoWhenGrid{
        display:grid;
        grid-template-columns:1fr;
    }
}

/*WHY*/

.infoWhy{
    background-color: #2D6434;
    margin-top:0.5rem;
}

.infoWhy > h1{
    color:#FEF363;
    font-size: 3rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.infoWhyBlurb{
    padding-bottom: 1rem;
    color: #FEF363;
    font-size: 1.5rem;
    padding-bottom: 2.5rem;
    text-align:center;
    padding-left:1rem;
    padding-right:1rem;
}

/*KEYNOTE SPEAKERS*/

.infoKeynote{
    background-color:#002A4A;
    margin-top:0.5rem;
}

.infoKeynote > h1{
    color:#FEF363;
    font-size: 3rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.infoKeynoteBlurb{
    padding-bottom: 1rem;
    color: #FEF363;
    font-size: 1.5rem;
    padding-bottom: 2.5rem;
    text-align:center;
    padding-left:1rem;
    padding-right:1rem;
}

/*Brad Dibble*/

.infoDibble{
    background-color: #2D6434;
    margin-top:0.5rem;
}

.infoDibble > h1{
    color:#FEF363;
    font-size: 3rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.infoDibbleBlurb{
    padding-bottom: 1rem;
    color: #FEF363;
    font-size: 1.5rem;
    padding-bottom: 2.5rem;
    text-align:center;
    margin:auto;
    padding-right:2rem;
    padding-left:1rem;
}

.infoDibbleGrid{
    display:grid;
    grid-template-columns:repeat(2,50vw);
}

.infoDibbleImageBox{
    padding-bottom: 2.5rem;
    text-align:center;
    padding-left:1rem;
    padding-right:1rem;
    max-width:35vw;
    margin:auto;
}

.infoDibbleImage{
    object-fit:contain;
    width:100%;
    border-radius:0.5rem;
}

@media(max-width:1080px){
    .infoDibbleGrid{
        display:grid;
        grid-template-columns:1fr;
    }

    .infoDibbleImageBox{
        padding-bottom: 2.5rem;
        text-align:center;
        max-width:80vw;
        margin:auto;
    }

    .infoDibbleBlurb{
        padding-bottom: 1rem;
        color: #FEF363;
        font-size: 1.5rem;
        padding-bottom: 2.5rem;
        text-align:center;
        margin:auto;
        padding-right:1rem;
        padding-left:1rem;
    }
}

/*ALLIE ROUGEOT*/

.infoAllie{
    background-color: #002A4A;
    margin-top:0.5rem;
}

.infoAllie > h1{
    color:#FEF363;
    font-size: 3rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.infoAllieBlurb{
    padding-bottom: 1rem;
    color: #FEF363;
    font-size: 1.5rem;
    padding-bottom: 2.5rem;
    text-align:center;
    margin:auto;
    padding-right:2rem;
    padding-left:1rem;
}

.infoAllieGrid{
    display:grid;
    grid-template-columns:repeat(2,50vw);
}

.infoAllieImageBox{
    padding-bottom: 2.5rem;
    text-align:center;
    padding-left:1rem;
    padding-right:1rem;
    max-width:35vw;
    margin:auto;
}

.infoAllieImage{
    object-fit:contain;
    width:100%;
    border-radius:0.5rem;
}

@media(max-width:1080px){
    .infoAllieGrid{
        display:grid;
        grid-template-columns:1fr;
    }

    .infoAllieImageBox{
        padding-bottom: 2.5rem;
        text-align:center;
        max-width:80vw;
        margin:auto;
    }

    .infoAllieBlurb{
        padding-bottom: 1rem;
        color: #FEF363;
        font-size: 1.5rem;
        padding-bottom: 2.5rem;
        text-align:center;
        margin:auto;
        padding-right:1rem;
        padding-left:1rem;
    }
}