.homeTop{
    background-color: #93D783;
    margin-bottom:0.5rem;
}

.homeTop > h1{
    color:#FEF363;
    font-size: 3rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.homeBlurb{
    padding-bottom: 1rem;
    color: #2D6434;
    font-size: 1.5rem;
    padding-bottom: 2.5rem;
    text-align:center;
    padding-left:1rem;
    padding-right:1rem;
}

.homeRegister{
    background-color: #002A4A;
    border: none;
    color: #FEF363;
    padding: 1.5rem 4rem;
    text-align: center;
    font-size: 1rem;
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
    margin:auto;
    line-height:0rem;
}

.homeRegister:hover {
    font-weight: 300;
    transition: all 0.5s ease-in-out;
    background-color: #fff;
    color: #002A4A;
}

.homeRegisterBox{
    padding-top:2rem;
    height:6rem;
    margin:auto;
    text-align:center;
}

/*countdown*/

.homeCountdown{
    padding-top:2rem;
    background-color: #002A4A;
    margin-top:0.5rem;
}

.homeCountdownBlurb{
    padding-bottom: 1rem;
    color: #FEF363;
    font-size: 1.5rem;
    padding-bottom: 2.5rem;
    text-align:center;
    margin:auto;
    padding-right:1rem;
    padding-left:1rem;
}

.homeCountdownGrid{
    display:grid;
    grid-template-columns:repeat(2,33vw);
    justify-content:center;
    margin:auto;
}

.homeCountdownRight{
    color:#FEF363;
    margin:auto;
    padding: 1rem;
    opacity: 1;
    text-decoration: none;
    text-align:center;
    margin:auto;
    height:8rem;
}

.homeCountdownRight > h1{
    font-size:3rem;
    text-align:center;
}

.homeCountdownRight > h2{
    text-align:center;
}

@media(max-width:1080px){
    .homeCountdownGrid{
        display:grid;
        grid-template-columns:1fr;
    }
}

/*just generic colours*/
.homeGreen{
    background-color: #2D6434;
    margin-top:0.5rem;
}

.homeGreen > h1{
    color:#FEF363;
    font-size: 3rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.homeGreenBlurb{
    padding-bottom: 1rem;
    color: #FEF363;
    font-size: 1.5rem;
    padding-bottom: 2.5rem;
    text-align:center;
    padding-left:1rem;
    padding-right:1rem;
}

.homeBlue{
    background-color: #002a4a;
    margin-top:0.5rem;
}

.homeBlue > h1{
    color:#FEF363;
    font-size: 3rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.homeBlueBlurb{
    padding-bottom: 1rem;
    color: #FEF363;
    font-size: 1.5rem;
    padding-bottom: 2.5rem;
    text-align:center;
    padding-left:1rem;
    padding-right:1rem;
}

/*SOYC*/

.SOYCGrid{
    display:grid;
    grid-template-columns:repeat(2,50vw);
}

.SOYCImageBox{
    padding-bottom: 2.5rem;
    text-align:center;
    padding-left:1rem;
    padding-right:1rem;
    max-width:30vw;
    margin:auto;
}

.SOYCBlurb{
    padding-bottom: 1rem;
    color: #FEF363;
    font-size: 1.5rem;
    padding-bottom: 2.5rem;
    text-align:center;
    margin:auto;
    padding-right:2rem;
    padding-left:1rem;
}

.SOYCImage{
    object-fit:contain;
    width:100%;
    border-radius:0.5rem;
}

@media(max-width:1080px){
    .SOYCGrid{
        display:grid;
        grid-template-columns:1fr;
    }

    .SOYCImageBox{
        padding-bottom: 2.5rem;
        text-align:center;
        max-width:80vw;
        margin:auto;
    }

    .SOYCBlurb{
        padding-bottom: 1rem;
        color: #FEF363;
        font-size: 1.5rem;
        padding-bottom: 2.5rem;
        text-align:center;
        margin:auto;
        padding-right:1rem;
        padding-left:1rem;
    }    
}

.SOYCButton{
    background-color: #2D6434;
    border: none;
    color: #FEF363;
    padding: 1.5rem 4rem;
    text-align: center;
    font-size: 1.5rem;
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
    margin:auto;
    line-height:0rem;
}

.SOYCButton:hover {
    font-weight: 300;
    transition: all 0.5s ease-in-out;
    background-color: #fff;
    color: #002A4A;
}

.SOYCButtonBox{
    padding-top:2rem;
    margin:auto;
    text-align:center;
}