.topReg{
    background-color: #002A4A;
}

.topReg > h1{
    color:#FEF363;
    font-size: 3rem;
    padding-bottom: 2rem;
    padding-top: 3rem;
}

.regBlurb{
    padding-bottom: 1rem;
    color: #FEF363;
    font-size: 1.5rem;
    padding-bottom: 3rem;
    text-align:center;
}

.bodyOption{
    background-color:#2D6434;
}
.register_options{
    display: grid;
    grid-template-columns: repeat(2, 50vw);
    justify-content:center;
    align-items:center;
    padding-left:0.5rem;
    padding-right:0.5rem;
}

.regBodyBox1{
    height:6rem;
    margin:auto;
    justify-items:right;
    padding-right:1rem;
}

.regBodyBox2{
    height:6rem;
    margin:auto;
    justify-items:left;
    padding-left:1rem;
}

.regOne{
    background-color: #93D783;
    border: none;
    color: #2D6434;
    padding: 2rem 4rem;
    text-align: center;
    font-size: 1.5rem;
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
}

.regTwo{
    background-color: #93D783;
    border: none;
    color: #2D6434;
    padding: 2rem 4rem;
    text-align: center;
    font-size: 1.5rem;
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
    text-align:center;
    margin:auto;
}

