.registerTop{
    background-color: #002A4A;
    margin-top:0.5rem;
    margin-bottom:0.5rem;
}

.registerTop > h1{
    color:#FEF363;
    font-size: 3rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.registerBlurb{
    color: #FEF363;
    font-size: 1.5rem;
    padding-bottom: 2rem;
    padding-left:1rem;
    padding-right:1rem;
    text-align:center;
}

.registrationOptions{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    background-color:#2D6434;
    align-items:center;
    justify-content:center;
    margin:auto;
    padding-top:2rem;
}

.registrationCenter{
    margin: 0 auto;
    text-align:center;
}

.registrationRight{
    margin:auto;
    margin-right:1.5rem;
}

.registrationLeft{
    margin:auto;
    margin-left:1.5rem;
}

.registerBox{
    align-self:center;
    color: #2D6434;
    border:1px #2D6434;
    font-size: 1rem;
    height: 2rem;
    width:12rem;
    background-color: #93D783;
    margin-bottom:1rem;
    margin-top:0.5rem;
}

::placeholder{
    color:black;
    text-align:center;
}

@media(max-width:1080px){
    .registrationOptions{
        display:grid;
        grid-template-columns:1fr;
        background-color:#2D6434;
        align-items:center;
        justify-content:center;
        margin:auto;
    }

    .registrationLeft{
        margin:auto;
    }

    .registrationRight{
        margin:auto;
    }
}

.submitRegistration{
    background-color: #002A4A;
    border: none;
    color: #FEF363;
    padding: 1.5rem 4rem;
    text-align: center;
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
    margin: auto;
    line-height: 0;
}

.submitRegistration:hover {
    font-weight: 300;
    transition: all 0.5s ease-in-out;
    background-color: #fff;
    color: rgba(12, 35, 139, 0.9);
}

.registrationBackground{
    background-color:#2D6434;
    height:5rem;
    padding-top:1rem;
}

.registerCenter{
    margin:auto;
    text-align:center;
}
/*old stuff below*/

.signedUp{
    font-size:0.75rem;
    text-align:center;
}