.topReg{
    background-color: #002A4A;
    margin-bottom:0.5rem;
}

.topReg > h1{
    color:#FEF363;
    font-size: 3rem;
    padding-bottom: 2rem;
    padding-top: 3rem;
}

.regBlurb{
    padding-bottom: 1rem;
    color: #FEF363;
    font-size: 1.5rem;
    padding-bottom: 3rem;
    text-align:center;
    padding-left:1rem;
    padding-right:1rem;
}

.bodyOption{
    background-color:#2D6434;
}
.register_options{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content:center;
    align-items:center;
    padding-left:0.5rem;
    padding-right:0.5rem;
}

.regBodyBox1{
    padding-top:2rem;
    padding-bottom:1rem;
    margin:auto;
}

.regBodyBox2{
    padding-top:1rem;
    padding-bottom:2rem;
    margin:auto;
}

.regOne{
    background-color: #93D783;
    border: none;
    color: #2D6434;
    padding: 1.5rem 4rem;
    text-align: center;
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
    text-align:center;
    margin:auto;
    line-height:0rem;
}

.regTwo{
    background-color: #93D783;
    border: none;
    color: #2D6434;
    padding: 1.5rem 4rem;
    text-align: center;
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
    text-align:center;
    margin:auto;
    line-height:0rem;
}

